/* MAIN CSS */ 
body {
    color: #000000;
    font-family: 'Montserrat', sans-serif; /* maybe should be changed */
    font-weight: 400;
    background: #ffffff;
}

/*top bar*/
.top-bar {
    padding: 2px 0;
    background: #000000;
}

.top-bar .tb-contact p {
    display: inline-block;
    margin: 0;
    color: #FF6F61;
    font-size: 14px;
}

.top-bar .tb-contact p i {
    margin-right: 6px;
}

.top-bar .tb-contact p:first-child {
    margin-right: 15px;
}

.top-bar .tb-menu {
    font-size: 0;
    text-align: right;
}

.top-bar .tb-menu a {
    color: #FF6F61;
    font-size: 14px;
    margin: 0 8px;
}

.top-bar .tb-menu a:hover {
    color: #ffffff;
}

.top-bar .tb-menu a:last-child {
    margin-right: 0;
}

.top-bar .tb-menu a::after {
    position: absolute;
    content: "/";
    margin: 1px 0 0 6px;
    color: #FF6F61;
    font-size: 14px;
}

.top-bar .tb-menu a:last-child::after {
    display: none;
}

@media (max-width: 768px) {
    .top-bar .tb-contact,
    .top-bar .tb-menu {
        text-align: center;
    }
}

/* nav bar */ 
.nav-bar {
    position: relative;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 2px solid #000000;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .nav-bar,
    .nav-bar .navbar {
        background: #FF6F61 !important;
    }
    
    .nav-bar .navbar-brand {
        display: none;
    }
    
    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    .nav-bar,
    .nav-bar .navbar {
        padding: 3px 0;
        background: #FF6F61 !important;
    }
    
    .nav-bar a.nav-link {
        padding: 5px;
    }
    
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    
    .nav-bar .social {
        display: none;
    }
}

.nav-bar .social {
    font-size: 0;
    overflow: hidden;
}

.nav-bar .social a {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    padding: 3px 0;
    text-align: center;
    font-size: 14px;
    background: #FF6F61;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.nav-bar .social a:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.nav-bar .social a i {
    color: #ffffff;
}

.nav-bar .social a:hover i {
    color: #FF6F61;
}

.cat-news {
    position: relative;
    width: 100%;
    padding: 0;
}

.cat-news .col-md-6 {
    margin-bottom: 30px;
}

.cat-news h2 {
    color: #000000;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 3px double #000000;
}

.cat-news .cn-img {
    position: relative;
    overflow: hidden;
}

.cat-news .cn-img img {
    width: 100%;
}

.cat-news .cn-img:hover img {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.cat-news .cn-title {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}

.cat-news .cn-title a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.cat-news .cn-title a:hover {
    color: #FF6F61;
}

/**********************************/
/********** Tab News CSS **********/
/**********************************/
.tab-news {
    position: relative;
}

.tab-news .col-md-6 {
    margin-bottom: 60px;
}

.tab-news .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #000000;
    border-radius: 0;
}

.tab-news .nav.nav-pills .nav-link:hover,
.tab-news .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #FF6F61;
}

.tab-news .tab-content {
    padding: 30px 15px 15px 15px;
    background: rgba(0, 0, 0, .05);
}

.tab-news .tn-news {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background: #ffffff;
}

.tab-news .tn-img {
    width: 150px;
}

.tab-news .tn-img img {
    width: 150px;
}

.tab-news .tn-title {
    padding: 10px 15px;
}

.tab-news .tn-title a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s;
}

.tab-news .tn-title a:hover {
    color: #FF6F61;
}

/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
    position: relative;
    padding: 60px 0 0 0;
    background: #111111;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.footer .footer-widget .title {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 3px double #ffffff;
}

.footer .footer-widget p {
    color: #ffffff;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px; 
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0; 
}

.footer .footer-widget ul li a {
    color: #ffffff;
    white-space: nowrap;
    display: block;
    line-height: 23px;
}

.footer .footer-widget ul li a::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    padding-left: 10px;
    color: #FF6F61;
}

.footer .contact-info p {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p i {
    color: #ffffff;
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 35px;
    height: 35px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    border-radius: 4px;
}

.footer .social a i {
    color: #111111;
}

.footer .social a:hover {
    background: #FF6F61;
}

.footer .social a:hover i {
    color: #ffffff;
}

.footer .newsletter {
    position: relative;
    width: 100%;
}

.footer .newsletter form {
    position: relative;
    width: 100%;
}

.footer .newsletter input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.footer .newsletter .btn {
    position: absolute;
    width: 80px;
    height: 35px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #111111;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.footer .newsletter .btn:hover {
    background: #FF6F61;
}

.footer .newsletter input:focus,
.footer .newsletter .btn:focus {
    box-shadow: none;
}


/**********************************/
/******** Footer Menu CSS *********/
/**********************************/
.footer-menu {
    position: relative;
    background: #111111;
}

.footer-menu .container {
    padding: 15px 0;
    border-top: 1px solid #000000;
}

.footer-menu .f-menu {
    font-size: 0;
    text-align: center;
}

.footer-menu .f-menu a {
    color: #ffffff;
    font-size: 14px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ffffff;
}

.footer-menu .f-menu a:hover {
    color: #FF6F61;
}

.footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}